.headerName {
  text-align: center;
}

.headerRole {
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.headerMotto {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

.headerSocials {
  text-align: center;
}
