.footer {
  position: relative;
  background-color: cadetblue;
  padding: 1rem;
}

.techlist {
  list-style: square;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.techlist > li {
  display: inline-block;
  margin: 15px;
  padding: 15px;
}

.techlist > li:hover {
  background-color: aqua;
}

.author {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}
