<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<!-- https://www.w3schools.com/howto/howto_css_social_media_buttons.asp -->

<div>
  <ul>
    {{
      blurb
    }}

    <li>
      <a
        href="{{ contacts.linkedin }}"
        target="_blank"
        class="fa fa-linkedin"
      ></a>
    </li>
    <li>
      <a href="{{ contacts.github }}" target="_blank" class="fa fa-github"></a>
    </li>
  </ul>
</div>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <hr />

  <fieldset>
    <legend><strong>Personal Information</strong></legend>
    <div class="flexSetup">
      <mat-form-field class="example-full-width flex1" appearance="fill">
        <mat-label>Name</mat-label>
        <input
          matInput
          id="name"
          ngModel
          name="name"
          required
          #name="ngModel"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width flex1" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          id="email"
          type="email"
          ngModel
          name="email"
          required
          #email="ngModel"
        />
      </mat-form-field>
    </div>
  </fieldset>

  <fieldset>
    <legend><strong>Comment Section</strong></legend>
    <div class="flexSetup">
      <mat-form-field appearance="fill" class="flex1">
        <mat-label>Comment</mat-label>
        <textarea
          matInput
          id="comment"
          ngModel
          name="comment"
          required
          #comment="ngModel"
        ></textarea>
      </mat-form-field>
    </div>
  </fieldset>

  <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">
    Submit
  </button>
</form>
