.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #3b5998;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.flexSetup {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.flex1 {
  flex: 1;
}

.error {
  font-size: 0.75em;
  font-style: italic;
}
