<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div [ngClass]="darkMode ? 'dark' : 'normal'">
  <mat-checkbox [(ngModel)]="darkMode">Dark Mode</mat-checkbox>
  <app-header [personal]="mydata" [contacts]="contacts"></app-header>
  <mat-toolbar [ngStyle]="{ textAlign: 'center' }">
    <a class="spacer" routerLink="" routerLinkActive="activebutton">
      <button mat-raised-button color="accent">Home</button>
    </a>
    <a class="spacer" routerLink="about" routerLinkActive="activebutton">
      <button mat-raised-button color="accent">About</button>
    </a>
    <a class="spacer" routerLink="contact" routerLinkActive="activebutton">
      <button mat-raised-button color="accent">Contact</button>
    </a>
  </mat-toolbar>
  <router-outlet />
  <app-footer [tech]="tech" [personal]="mydata"></app-footer>
</div>
