/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(219, 170, 180);
}

.Card {
  width: 600px;
}

.CardDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  margin: auto;
}

.matCardHeader {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(197, 30, 30);
  border-radius: 12px 12px 0px 0px;
  color: rgb(255, 255, 255);
}
