/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(219, 170, 180);
}

.Card {
  width: 600px;
}

.CardDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
