/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

app-root {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.normal {
  background-color: rgb(219, 170, 180);
  color: black;
}

.dark {
  background-color: rgb(48, 45, 45);
  color: white;
}

.dark mat-toolbar {
  background-color: rgb(48, 45, 45) !important;
  color: white;
}

.normal mat-toolbar {
  background-color: rgb(219, 170, 180) !important;
  color: black;
}
